* {
  margin: 0;
  padding: 0;
}

.siteTitle {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

section {
  width: 47vw;
}

.listTitle {
  margin: 35px auto;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

input {
  padding: 7px;
  border-radius: 0.5em;
  width: 150px;
}

button {
  padding: 7px;
  width: 150px;
}

ul {
  text-align: left;
  list-style: none;
  margin-top: 20px;
}

.listItem {
  padding: 7px;
  margin-top: 3px;
}

.shoppingCart .listItem {
  display: flex;
  justify-content: space-between;
}

.groceryList .listItem:nth-child(odd) {
  background-color: #e18582;
}
.groceryList .listItem:nth-child(even) {
  background-color: #f3b8c1;
}

.shoppingCart .listItem:nth-child(odd) {
  background-color: #b5d6e3;
}
.shoppingCart .listItem:nth-child(even) {
  background-color: #e6feff;
}
